/* colors */
/*
  Annotation Video
 */

$colorDarkVideo: #FFFFFF;
$bgColorDarkVideo: #17171E;

.wt-annotation-video {
    background-color: $bgColorDarkVideo;
    color: $colorDarkVideo;

    .q-splitter--horizontal > .q-splitter__separator > div {
        top: 0;
        bottom: 0;
    }

    .q-splitter--dark .q-splitter__separator {
        :hover {
            background-color: black;
        }
    }

    .currentObjectPane {
        width: 300px;
        height: 100%;
        margin-right: 8px;
    }

    .videoPane {
        height: 544px;
    }

    .handle, .ui-resizable-handle {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #D3D3D3;
        background-color: rgba(255, 255, 0, .05);
        position: absolute;
    }

    .center-drag {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: move;
    }

    .objectId {
        width: 25px;
        height: 14px;
        line-height: 14px;
        font-size: 10px;
        right: 0;
        top: 0;
        position: absolute;
        cursor: pointer;
        padding-left: 2px;
        color: black;
        background-color: white;
    }


    .dataPane {

        .choose-component {
            border-bottom: 1px #e3e3e3 solid;
            width: 100%;
            background-color: #e3e3e3;

            .text {
                line-height: 36px;
                width: 66px;
                text-align: right;
            }

            .q-btn-group {
                box-shadow: none;
            }
        }

        .timeline-actions {
            border-bottom: 1px #e3e3e3 solid;
            background-color: $bgColorDarkVideo;

            .q-btn-group {
                box-shadow: none;
            }
        }

        .timeline-rules {
            background-color: $bgColorDarkVideo;
            cursor: pointer;
            height: 40px;
            overflow-x: hidden;
        }

        .lanesArea {
            .q-scrollarea__thumb--h {
                display: none;
            }

            .lanes {

                .lane {
                    background-color: #1c1c28;
                    /*background-color:gray;*/
                    height: 18px;

                    .laneObject {
                        top: 0px;
                    }

                    .laneObject:hover {
                        cursor: pointer;
                    }

                }

            }
        }


        .timeline-body {
            background-color: $bgColorDarkVideo;
        }

        .timeline-objects {
            background-color: $bgColorDarkVideo;
            padding-right: 10px;
        }

        .timeline-guide {
            position: absolute;
            top: 0px;
            bottom: 20px;
            width: 2px;
            background-color: white;
            opacity: 0.15;
            will-change: left;
            z-index: 1;
        }

        .timeline-guide1 {
            position: absolute;
            top: 0px;
            height: 38px;
            width: 2px;
            background-color: white;
            opacity: 1;
            will-change: left;
            z-index: 5;
        }

        .timeline-slider {

            bottom: 0px;
            overflow: hidden;

            .q-slider__track-container--h {
                padding: 0px 0;

                .q-slider__focus-ring {
                }
            }

            .q-slider__focus-ring {
                border-radius: 0px;
                opacity: 1;
                transition: none 0ms 0ms !important;
                /*cursor: grab;*/

                /*
                position: absolute;
                top: 0px;
                bottom: 0px;
                width: 2px !important;
                margin-left: 7px;
                background-color: white;
                will-change: left;
                z-index: 1;

                 */
            }

            .q-slider__track-container {
                cursor: pointer;
            }

            .q-slider__track-container:hover {

                .q-slider__focus-ring {
                    opacity: 1;
                    transform: scale(1) !important;
                    background-color: white;
                    z-index: 1;
                }

                .q-slider__thumb,
                .q-slider__inner,
                .q-slider__selection {
                    opacity: 0;
                }
            }

            .q-slider--active .q-slider__thumb-shape {
                transform: scale(1) !important;
            }

            .q-slider__thumb--h {
                top: 18%;
            }

            .q-slider__focus-ring {
                border-radius: 0px;
                opacity: 1;
                transition: none 0ms 0ms !important;
            }

            .q-slider__selection {
                border-right: 2px solid white;
            }

        }


    }


    .q-scrollarea__bar {
        z-index: 4;
    }


    .video-js .vjs-control-bar {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: -3em;
        left: 0;
        right: 0;
        height: 3em;
        background-color: #2b333f;
    }

    .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
        visibility: visible;
        opacity: 1;
        pointer-events: none;
        transition: visibility 1s, opacity 1s;
    }

    .video-js .player-custom-controls {
        width: 100%;
        position: absolute;
        bottom: -70px;
        left: 0;
        right: 0;
        height: 44px;
        padding: 4px;
        background-color: transparent;
    }

    :root {
        --seekerX: 0.5;
        --seekerY: 0.5;
    }


}
