.dashboard-title {
    background-color: #CCCCCC;
    width:100%;
    padding: 8px;
    font-weight: 700;
    font-size: 1.75em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    line-height: 1.3333333;
}

.dashboard-subtitle {
    padding: 16px 8px 8px 8px;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.3333333;
}

.dashboard-card1 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color1)!important;
    .header {
        color: white;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card2 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color2)!important;
    .header {
        color: white;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card3 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color3)!important;
    .header {
        color: white;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card4 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color4)!important;
    .header {
        color: black;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card5 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color5)!important;
    .header {
        color: white;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card6 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color6)!important;
    .header {
        color: #262824;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card7 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color7)!important;
    .header {
        color: #262824;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}

.dashboard-card8 {
    padding: 8px 16px;
    background-color: var(--wt-dashboard-color8)!important;
    .header {
        color: white;
        font-weight: 600;
    }
    .body {
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }
    .footer {
        font-weight: 600;
        color: white;
    }
}
