/******************************************************************************
 * Icons and Images
 ****************************************************************************/

.wt-lang--- {
    width:16px;
    height:16px;
    background: url(/images/nls/00.png) no-repeat center center;
}

.wt-lang-pt {
    width:16px;
    height:16px;
    background: url(/images/nls/pt.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-en {
    width:16px;
    height:16px;
    background: url(/images/nls/en.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-fr {
    width:16px;
    height:16px;
    background: url(/images/nls/fr.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-es {
    width:16px;
    height:16px;
    background: url(/images/nls/es.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-it {
    width:16px;
    height:16px;
    background: url(/images/nls/it.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-se {
    width:16px;
    height:16px;
    background: url(/images/nls/se.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-lt {
    width:16px;
    height:16px;
    background: url(/images/nls/lt.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-jp {
    width:16px;
    height:16px;
    background: url(/images/nls/jp.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-de {
    width:16px;
    height:16px;
    background: url(/images/nls/de.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-iw {
    width:16px;
    height:16px;
    background: url(/images/nls/iw.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-zh {
    width:16px;
    height:16px;
    background: url(/images/nls/zh.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-ru {
    width:16px;
    height:16px;
    background: url(/images/nls/ru.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-ko {
    width:16px;
    height:16px;
    background: url(/images/nls/ko.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-ar {
    width:16px;
    height:16px;
    background: url(/images/nls/ar.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-sq {
    width:16px;
    height:16px;
    background: url(/images/nls/sq.svg) no-repeat center center;
    background-size: 16px 16px;
}
.wt-lang-fi {
    width:16px;
    height:16px;
    background: url(/images/nls/fi.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-hi {
    width:16px;
    height:16px;
    background: url(/images/nls/hi.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-ur {
    width:16px;
    height:16px;
    background: url(/images/nls/ur.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-el {
    width:16px;
    height:16px;
    background: url(/images/nls/el.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-te {
    width:16px;
    height:16px;
    background: url(/images/nls/te.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-kn {
    width:16px;
    height:16px;
    background: url(/images/nls/kn.svg) no-repeat center center;
    background-size: 16px 16px;
}

.wt-lang-hr {
    width:16px;
    height:16px;
    background: url(/images/nls/hr.svg) no-repeat center center;
    background-size: 16px 16px;
}
