body {
    //font-family: 'v-sans'
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"
}
#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

.wt-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.wt-header {
    background-color: var(--wt-bg-header);
    color: var(--wt-text-color);
}

.wt-bg-field {
    color: var(--wt-bg-form);
}

.wt-text-color {
    color: var(--wt-text-color);
}

.wt-toolbar {
    background-color: var(--wt-bg-header);
    color: var(--wt-text-color);

    .q-toolbar__title {
        font-size: var(--wt-font-size);
        font-weight: 600;
    }
}

.wt-toolbar-internal {
    background-color: var(--wt-bg-content);
    color: var(--wt-text-color);

    .q-toolbar__title {
        font-size: var(--wt-font-size);
        font-weight: 600;
    }
}

.wt-breadcrumbs {
    .el {
        color: var(--wt-text-color);
        cursor: pointer;
    }
    .current {
        font-weight: 600;
    }
}

.wt-menu {
    background-color: var(--wt-bg-content);
    color: var(--wt-text-color);
    height:100%;

    .q-item {
        padding: 0px 0px 0px 16px;
        min-height: 24px;

        .q-item__section--avatar {
            color: inherit;
            min-width: 32px;
        }

        .q-item__label {
            line-height: 0px !important;
            max-width: 100%;
        }

        .q-item__section--side {
            padding-right: 8px;
        }

        .q-list {
            padding-bottom: 0px;
        }
    }

    .q-item__label--header {
        padding: 8px;
        font-weight: 500;
    }


}

.wt-link {
    border:0;
    cursor: pointer;
}

.wt-link:hover {
    font-weight: normal;
}

.wt-textfield-xsmall {
    width:75px;
}

.wt-textfield-small {
    width:100px;
}

.wt-textfield-medium {
    width:200px;
}

.wt-button {
    min-width: 80px;
    padding: 0px 8px 0px 8px;
}

/* Cards */

.wt-card-report {
    .title {
        background-color: white;
        color: var(--wt-text-color);
        font-size:16px;
        font-weight: 500;
    }
    .q-card__section{
        padding: 0;
    }
}

.wt-card-menu {
    .title {
        background-color: white;
        color: var(--wt-text-color);
        font-size:16px;
        font-weight: 500;
    }
    .q-card__section{
        padding: 0;
    }
}

.wt-card-grid {
    .record {
        padding: 8px;
    }

    .q-card__section{
        padding: 0px;
    }

    .frame-title {
        a {
            font-weight: 500;
            font-size:16px;
            text-decoration: none;
            color: var(--wt-frame-color);
        }
    }

    .fe-title {
        a {
            font-weight: 500;
            font-size:16px;
            text-decoration: none;
            color: var(--wt-fe-color);
        }
    }

    .lu-title {
        a {
            font-weight: 500;
            font-size:16px;
            text-decoration: none;
            color: var(--wt-lu-color);
        }
    }

    .cxn-title {
        a {
            font-weight: 500;
            font-size:16px;
            text-decoration: none;
            color: var(--wt-cxn-color);
        }
    }
}


.wt-card-cxn {
    .title {
        background-color: white;
        color: var(--wt-text-color);
        cursor:pointer;

        a {
            text-decoration: none;
            color: var(--wt-cxn-color);
        }
    }
}

/*
<div style="line-height:32px;font-size:16px;">
<i class="material-icons p-1" aria-hidden="true" role="img" style="font-size:20px;vertical-align: middle;color:var(--sl-color-primary-600);">info</i>
  **/
.wt-toast {
    line-height:32px;
    font-size:16px;

    .info {
        font-size:20px;
        vertical-align: middle;
        color:var(--sl-color-primary-600);
    }

    .success {
        font-size:20px;
        vertical-align: middle;
        color:var(--sl-color-success-600);
    }

    .warning {
        font-size:20px;
        vertical-align: middle;
        color:var(--sl-color-warning-600);
    }

    .error {
        font-size:20px;
        vertical-align: middle;
        color:var(--sl-color-danger-600);
    }


}

.wt-input {
    @extend .input !optional;
    @extend .input-bordered !optional;
    @extend .input-sm !optional;
    @extend .w-64 !optional;
    @extend .max-w-xs !optional;
    @extend .mr-2 !optional;
}


/*


.wt-drawer-left {
    background-color: $grey-2;
    padding: 0px 8px;
}

.wt-drawer-right {
    background-color: $grey-2;
    padding: 8px;
}

.wt-notification-success {
    border: 2px solid $green-9;
    color: $green-9 !important;
}

.wt-notification-error {
    border: 2px solid $red-9;
    color: $red-9 !important;
}
.wt-notification-info {
    border: 2px solid $blue-9;
    color: $blue-9 !important;
}
.wt-notification-warning {
    border: 2px solid $yellow-9;
    color: $yellow-9 !important;
}


.wt-label-fe {
    padding: 2px;
}

.wt-label-fe-edit {
    padding: 2px;
    cursor:pointer;
}

.wt-header-title {
    font-size: 16px;
    display: flex;
    justify-content: left;
    align-items: center;
    height:32px;
    margin:auto;
}

.wt-menu {
    height:100%;
    .q-item {
        padding: 4px 16px 0px 16px;

        .q-list {
            padding-bottom: 8px;
        }
    }
}

.wt-button {
    .hover {
        background-color: var(--wt-action-hover);
    }
}

.wt-form {
    width: 100%;
}

.wt-field {
    width: 100%;
}

.wt-layout-main {
    background-color: var(--wt-bg-content);
}

.wt-layout-content {
    background-color: var(--wt-bg-content);
}

.wt-menu-menulayout {
    background-color: var(--wt-bg-content);

    .wt-menu-action:hover {
        background-color: var(--wt-action-hover);
        cursor:pointer;
    }

}

.wt-card-main {
    .n-card-header__main {
        font-size: 1.75rem;
    }
}

.wt-card-frame {
    .title {
        font-size: 1.25rem;
        background-color: var(--wt-color-frame);
        color:white;
        cursor:pointer;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

.wt-card-form {
    .title {
        background-color: var(--wt-bg-form);
    }
}

.wt-report-frame {
    .level1 {
        line-height:32px;
        margin-top: 28px;
    }
    .level2 {
        line-height:32px;
        margin-left: 16px;
    }
    .level3 {
        padding-top: 8px;
        margin-left: 16px;
    }
    .level4 {
        margin-left: 32px;
        padding: 8px 0px;
    }
}

.wt-label-fe {
    padding: 2px;
}

.wt-label-fe-edit {
    padding: 2px;
    cursor:pointer;
}

.wt-sticky-column-table {
    thead tr:first-child th:first-child {
        background-color: var(--wt-bg-default);
    }

    td:first-child {
        background-color: var(--wt-bg-default);
    }

    th:first-child,
    td:first-child {
        position: sticky;
        left: 0;
        z-index: 1
    }
}

.wt-link {
    border:0;
    cursor: pointer;
}

.wt-link:hover {
    font-weight: normal;
}

.wt-drawer-left {
    background-color: $grey-2;
    padding: 0px 8px;
}

.wt-drawer-right {
    background-color: $grey-2;
    padding: 8px;
}
*/
